<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center">
      <span>
        <img alt="logo" height="30" src="../assets/usm-crest.png">
      </span>
      <span class="header-title">rHAIS</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-card>
    <ion-card-header>
      <ion-card-title>FAQ</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ul>
        <li>
          <div style="color: #3880ff; font-weight: bolder;">
            Bagaimanakah cara untuk menukar kata laluan rHAIS yang sedia ada?
            <br>
            <br>
            How to change the existing password on rHAIS?
          </div>
          <br>
          Anda boleh menukar kata laluan semasa anda melalui applikasi web rHAIS di pautan<br>
          <a href="https://usm-monitoring-system.web.app/" target="_blank">https://usm-monitoring-system.web.app/</a>
          <br>
          <br>
          You can change your current password through rHAIS web-application through the link<br>
          <a href="https://usm-monitoring-system.web.app/" target="_blank">https://usm-monitoring-system.web.app/</a>
          <br>
          <br>
        </li>
        <li>
          <div style="color: #3880ff; font-weight: bolder;">
            Saya tidak dapat daftar masuk dengan menggunakan nama pengguna dan kata laluan yang asal tetapi saya telah
            memasukkan kata laluan yang betul. Apakah yang perlu saya lakukan?
            <br>
            <br>
            I cannot log in with original username and password, but I believe I have log in the right password. What
            should I do?
          </div>
          <br>
          Anda boleh menukar kata laluan semasa anda melalui applikasi web rHAIS di pautan<br>
          <a href="https://usm-monitoring-system.web.app/" target="_blank">https://usm-monitoring-system.web.app/</a>
          <br>
          <br>
          You can change your current password through rHAIS web-application through the link<br>
          <a href="https://usm-monitoring-system.web.app/" target="_blank">https://usm-monitoring-system.web.app/</a>
          <br>
          <br>
        </li>
        <li>
          <div style="color: #3880ff; font-weight: bolder;">
            Saya mendapat notifikasi FirebaseError: [code=not-found]: No document to
            update:projets/usm-monitoring-system/database/(default)/documents/users/… apabila saya cuba untuk mendaftar
            masuk melalui applikasi mudah alih rHAIS.
            <br>
            <br>
            I received notification FirebaseError: [code=not-found]: No document to
            update:projets/usm-monitoring-system/database/(default)/documents/users/… when I tried to login through
            rHAIS
            mobile application.
          </div>
          <br>
          Anda boleh menukar kata laluan semasa anda melalui applikasi web rHAIS di pautan<br>
          <a href="https://usm-monitoring-system.web.app/" target="_blank">https://usm-monitoring-system.web.app/</a>
          <br>
          <br>
          You can change your current password through rHAIS web-application through the link<br>
          <a href="https://usm-monitoring-system.web.app/" target="_blank">https://usm-monitoring-system.web.app/</a>
          <br>
          <br>
        </li>
      </ul>

      <div>
        Sekiranya anda mempunyai sebarang masalah berkaitan rHAIS yang tidak terkandung di dalam FAQ ini, sila hubungi
        kami melalui emel
        <br>
        <a href="mailto:rhais@usm.my" target="_blank">rhais@usm.my</a>

        If you have any issue related to rHAIS but not in this FAQ, please contact us through email
        <br>
        <a href="mailto:rhais@usm.my" target="_blank">rhais@usm.my</a>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>