<ion-header translucent>
  <ion-toolbar>
    <ion-button slot="start" (click)="dismiss(null)" fill="clear" color="dark">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
    <ion-title>Choose School/Department</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated mode="ios" placeholder="Search Departments" (ionChange)="searchDepartment($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" fullscreen>

  <ion-list>
    <div *ngFor="let department of departments">
      <ion-list-header>
        <ion-label style="font-size: 18px;">{{ department.name }}</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let data of department.data" style="padding-left: 10px; font-size: 15px;"
        (click)="dismiss(data)">
        {{ data.name }}
      </ion-item>

    </div>
  </ion-list>

</ion-content>