<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize ion-text-center">
      <span>
        <img alt="logo" height="30" src="../assets/usm-crest.png">
      </span>
      <span class="header-title">rHAIS</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>

  <ion-card class="ion-padding-bottom" mode="ios" *ngIf="bluetoothService.bluetoothOn && trackerService.locationOn">

    <ion-card-header class="ion-text-center">
      <ion-card-title>
        Screening
      </ion-card-title>
    </ion-card-header>

    <ion-list>

      <!-- <ion-list-header class="ion-margin-vertical">
      </ion-list-header> -->

      <ion-button class="ion-margin" expand="block" (click)="bluetoothService.iniateScanning()"
        *ngIf="!bluetoothService.isScanning">
        Scan Device
      </ion-button>
      <ion-button class="ion-margin" expand="block" disabled="true" *ngIf="bluetoothService.isScanning">
        Scanning
        <ion-spinner name="dots" style="margin-left: 5px;">
        </ion-spinner>
      </ion-button>

      <!-- <ion-button class="ion-margin" expand="block" (click)="bluetoothService.BleDisconnect()"
        *ngIf="bluetoothService.BLEdevices.length > 0">
        Force Disconnect Test
      </ion-button> -->

      <ion-list-header>
        Available Devices
      </ion-list-header>

      <ion-item
        *ngIf="!bluetoothService.isScanning && bluetoothService.isFinishScanning && bluetoothService.BLEdevices.length <= 0">
        <span>
          No paired device available.
        </span>
      </ion-item>

      <div *ngIf="bluetoothService.BLEdevices.length > 0">
        <div *ngFor='let device of bluetoothService.BLEdevices'>
          <ion-item *ngIf="device.name" (click)="bluetoothService.selectDevice(device)">
            <span>
              {{ device.name }}
            </span>
          </ion-item>
        </div>
      </div>

      <div *ngIf="bluetoothService.scannerResult.body_temperature">

        <ion-list-header>
          Screening Result
        </ion-list-header>

        <ion-list>

          <ion-item>
            <ion-label>Body Temperature:
              <span style="float: right;">
                {{ bluetoothService.scannerResult.body_temperature }}°C</span>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Ambient Temperature:
              <span style="float: right;">
                {{ bluetoothService.scannerResult.ambient_temperature }}°C
              </span>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Distance:
              <span style="float: right;">
                {{ bluetoothService.scannerResult.scanner_distance }}cm
              </span>
            </ion-label>
          </ion-item>

        </ion-list>

      </div>

      <!-- <ion-list-header>
        Log
      </ion-list-header>

      <ion-card-content [innerHTML]="bluetoothService.data.log2">

      </ion-card-content> -->

    </ion-list>

  </ion-card>

  <ion-card class="ion-padding-bottom" mode="ios" *ngIf="bluetoothService.bluetoothOn && trackerService.locationOn">

    <form [formGroup]=" screeningForm" (ngSubmit)="submitData(screeningForm.value)">

      <ion-card-header>
        <ion-card-title class="ion-text-capitalize">
          <ion-icon name="person-circle-outline"></ion-icon> {{ bluetoothService.user.type }}
        </ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-label position="fixed">Name : </ion-label>
        <ion-input class="login-input" readonly="true" [value]="bluetoothService.user.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">ID : </ion-label>
        <ion-input class="login-input" type="email" [value]="bluetoothService.user.email" readonly="true">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Phone. : </ion-label>
        <ion-input class="login-input" readonly="true" [value]="bluetoothService.user.phone"></ion-input>
      </ion-item>

      <ion-list-header>
        <ion-label>Do you have these symptoms:</ion-label>
      </ion-list-header>

      <ion-item class="input-toggle">
        <ion-label position="stacked">
          Are you tested positive of COVID-19 within the past 14 days?<br>
        </ion-label>
        <div>
          <app-toggle name="screening_question1" [control]="screeningForm.controls.screening_question1"
            class="ion-float-right">
          </app-toggle>
        </div>
      </ion-item>

      <ion-item class="input-toggle">
        <ion-label position="stacked">
          Do you have close contact with anyone that tested POSITIVE COVID-19 within the past 14 days?<br>
        </ion-label>
        <div>
          <app-toggle name="screening_question2" [control]="screeningForm.controls.screening_question2"
            class="ion-float-right">
          </app-toggle>
        </div>
      </ion-item>

      <ion-item>
        <ion-label>
          Fever
        </ion-label>
        <app-toggle name="fever" [control]="screeningForm.controls.fever"></app-toggle>
      </ion-item>

      <ion-item>
        <ion-label>
          Cough
        </ion-label>
        <app-toggle name="cough" [control]="screeningForm.controls.cough"></app-toggle>
      </ion-item>

      <ion-item>
        <ion-label>
          Sore throat
        </ion-label>
        <app-toggle name="sore_throat" [control]="screeningForm.controls.sore_throat"></app-toggle>
      </ion-item>

      <ion-item>
        <ion-label>
          Running nose
        </ion-label>
        <app-toggle name="running_nose" [control]="screeningForm.controls.running_nose"></app-toggle>
      </ion-item>

      <ion-item>
        <ion-label>
          Shortness of breath
        </ion-label>
        <app-toggle name="shortness_of_breath" [control]="screeningForm.controls.shortness_of_breath"></app-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Body Temperature</ion-label>
        <ion-input type="number" formControlName="temperature" class="ion-text-right" (change)="changeTemperature()"
          inputmode="decimal">
        </ion-input>°C
      </ion-item>
      <div class="error-messages"
        *ngIf="screeningForm.controls.temperature.value <= 30 || screeningForm.controls.temperature.value >= 45">
        Please enter a valid value.
      </div>

      <br>
      <ion-item class="input-toggle ion-margin-bottom">
        <ion-label position="stacked">
          I hereby declare that all the information given in this form is true and correct. Action can be taken if the
          information provided is false.<br>
        </ion-label>
        <div>
          <ion-list lines="none">
            <ion-item class="ion-float-right" no-lines>
              <ion-label>Accept</ion-label>
              <ion-checkbox slot="end" name="agreement" mode="md" (ionChange)="onTermsChecked($event)"
                [checked]="screeningForm.controls.agreement.value"></ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </ion-item>

      <ion-button color="primary" class="ion-margin" expand="block" type="submit" *ngIf="formStatus == 'idle'"
        [disabled]="!screeningForm.valid || screeningForm.controls.temperature.value <= 30 || screeningForm.controls.temperature.value >= 45">
        Send
      </ion-button>
      <ion-button color="light" class="ion-margin" expand="block" disabled *ngIf="formStatus == 'loading'">
        Loading...
      </ion-button>
      <ion-button color="success" class="ion-margin" expand="block" disabled *ngIf="formStatus == 'success'">
        Successfully send
      </ion-button>
      <div class="error-messages ion-text-center"
        *ngIf="!screeningForm.valid || screeningForm.controls.temperature.value <= 30 || screeningForm.controls.temperature.value >= 45">
        Please fill in all fields
      </div>
    </form>

  </ion-card>

  <ion-card class="ion-margin-horizontal ion-padding ion-text-center" mode="ios"
    *ngIf="!bluetoothService.bluetoothOn || !trackerService.locationOn" style="margin-right: 50px; margin-left: 50px;">

    <ion-row>
      <ion-col *ngIf="!bluetoothService.bluetoothOn">
        <ion-button size="large" class="btn-circle">
          <ion-icon slot="icon-only" name="bluetooth-outline"></ion-icon>
        </ion-button>
        <br>
        <h6 style="margin-top: 0; margin-bottom: 0;">(OFF)</h6>
      </ion-col>
      <ion-col *ngIf="!trackerService.locationOn">
        <ion-button size="large" class="btn-circle">
          <ion-icon slot="icon-only" name="navigate-outline"></ion-icon>
        </ion-button>
        <br>
        <h6 style="margin-top: 0; margin-bottom: 0;">(OFF)</h6>
      </ion-col>
    </ion-row>

    <ion-card-content style="font-size: 16px; padding-bottom: 5px;" class="ion-text-left">
      <div *ngIf="!bluetoothService.bluetoothOn">
        Please enable your device bluetooth.
      </div>
      <div *ngIf="!trackerService.locationOn">
        Please enable your device location.
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>