<ion-card style="width: 100px;" mode="ios" class="toggleWrapper">
  <ion-row>
    <ion-col style="padding: 0; border-right: 1px solid #333;">
      <ion-button expand="full" style="margin: 0;" [ngClass]='yesStatus' (click)="clickYes()">Yes</ion-button>
    </ion-col>
    <ion-col style="padding: 0;">
      <ion-button expand="full" style="margin: 0;" [ngClass]='noStatus' (click)="clickNo()">No</ion-button>
    </ion-col>
  </ion-row>

  <input type="hidden" [formControlName]="name" *ngIf="type === 'form' || !type">
  <input type="hidden" [(ngModel)]="name" [value]="value" *ngIf="type === 'model'">

</ion-card>