.toggleWrapper {
    background-color: #333;
    border: 1px solid #333;
}

// .toggle {
//     background-color: rgb(66, 140, 255);
// }

.untoggle {
    --background: #f4f5f8;
    --background-activated: #f4f5f8;
    --background-focused: #f4f5f8;
    --background-hover: #f4f5f8;
    background: #f4f5f8;
    color: black;
}