ion-list-header {
    font-size: 18px;
    font-weight: normal;
}

.button-transparent {
    pointer-events: none;
    --color: transparent;
}

.login-text {
    padding: 20px 22px;
    padding-top: 0;
    font-size: 15px;
    font-weight: bolder;
    color: #eb445a;
}