<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="loginPage()" *ngIf="!isLogin">
      Login
    </ion-button>
    <ion-title class="ion-text-capitalize ion-text-center">
      <span>
        <img alt="logo" height="30" src="../assets/usm-crest.png">
      </span>
      <span class="header-title">rHAIS</span>
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="faqPage()">
      FAQ
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="emailVerify" class="verify-email ion-padding">
  <div>
    Please verify your email before login
  </div>
  <div *ngIf="sentTimestamp" style="padding-top: 5px;">
    Verification email sent at {{sentTimestamp | date:'medium'}},<br> please check your email.
  </div>
  <div>
    <ion-button color="success" (click)="sendVerificationEmail()" class="ion-margin-top" *ngIf="canSendEmail">
      Send Verification Email
    </ion-button>
    <ion-button color="success" class="ion-margin-top" *ngIf="!canSendEmail" disabled>
      Send Verification Email
    </ion-button>
  </div>
</ion-header>

<ion-content class="">

  <ion-card class="ion-padding" mode="ios" *ngIf="isLogin">

    <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">

      <ion-card-header>
        <ion-card-title>
          <ion-icon name="person-circle-outline"></ion-icon> Login
        </ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-label position="floating">Email : </ion-label>
        <ion-input class="login-input" formControlName="email" type="email">
        </ion-input>
      </ion-item>
      <div class="input-helper">
        @usm.my or @student.usm.my
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-message"
            *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Password : </ion-label>
        <ion-input class="login-input" placeholder="Enter Password" type="password" formControlName="password">
        </ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-button class="ion-margin" expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
      <div class="ion-padding login-text">
        Please register if you are a first-time rHAIS user. <br>
        You cannot log in directly using the campus online username
        and password.
      </div>
      <ion-button expand="block" fill="clear" (click)="registerPage()">Register</ion-button>
      <ion-button expand="block" fill="clear" (click)="resetPage()">Forgot Password</ion-button>

    </form>

  </ion-card>

  <ion-card class="ion-padding" mode="ios" *ngIf="isReset">

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">

      <ion-card-header>
        <ion-card-title>
          <ion-icon name="person-circle-outline"></ion-icon> Reset Password
        </ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-label position="floating">Email : </ion-label>
        <ion-input class="login-input" formControlName="email" type="email">
        </ion-input>
      </ion-item>
      <div class="input-helper">
        @usm.my or @student.usm.my
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-message"
            *ngIf="resetPasswordForm.get('email').hasError(error.type) && (resetPasswordForm.get('email').dirty || resetPasswordForm.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-button class="ion-margin" expand="block" type="submit" [disabled]="!resetPasswordForm.valid">Send Reset
        Password Email
      </ion-button>
      <ion-button expand="block" fill="clear" (click)="loginPage()">Login</ion-button>

    </form>

  </ion-card>

  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-card class="ion-padding-bottom ion-padding-left ion-padding-right" mode="ios" *ngIf="isRegister">

      <ion-card-header>
        <ion-card-title>
          <ion-icon name="person-circle-outline"></ion-icon> Register
        </ion-card-title>
      </ion-card-header>

      <ion-list>
        <ion-radio-group formControlName="type" (ionChange)='changeForm($event.target.value)'>
          <ion-list-header>
            <ion-label>You are a</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Student</ion-label>
            <ion-radio slot="start" value="student" mode="md"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Staff</ion-label>
            <ion-radio slot="start" value="staff" mode="md"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item>
        <ion-label position="floating">Name : </ion-label>
        <ion-input class="login-input" formControlName="name"></ion-input>
      </ion-item>
      <div class="input-helper">
        Please ensure your name submitted is in accordance to your Identification Card or Passport.
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.name">
          <div class="error-message"
            *ngIf="registerForm.get('name').hasError(error.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-list *ngIf="registerForm.value.type == 'student'">
        <ion-radio-group formControlName="student_category">
          <ion-list-header>
            <ion-label>Student Category</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Diploma</ion-label>
            <ion-radio slot="start" value="diploma" mode="md"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Undergraduate</ion-label>
            <ion-radio slot="start" value="undergraduate" mode="md"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Postgraduate</ion-label>
            <ion-radio slot="start" value="postgraduate" mode="md"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Others</ion-label>
            <ion-radio slot="start" value="others" mode="md"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item (click)="departmentsModal()">
        <ion-label position="floating">School/Department : </ion-label>
        <ion-input class="login-input" formControlName="department" readonly></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.department">
          <div class="error-message"
            *ngIf="registerForm.get('department').hasError(error.type) && (registerForm.get('department').dirty || registerForm.get('department').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Email : </ion-label>
        <ion-input class="login-input" formControlName="email" type="email">
        </ion-input>
      </ion-item>
      <div class="input-helper">
        @usm.my or @student.usm.my
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-message"
            *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-list>
        <ion-radio-group formControlName="sex">
          <ion-list-header>
            <ion-label>Sex</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio slot="start" value="male" mode="md"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio slot="start" value="female" mode="md"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item>
        <ion-label position="floating" *ngIf="currentID == 'ic'">Identification Card : </ion-label>
        <ion-label position="floating" *ngIf="currentID == 'passport'">Passport : </ion-label>
        <ion-input class="login-input" formControlName="ic" *ngIf="currentID == 'ic'"></ion-input>
        <ion-input class="login-input" formControlName="ic" *ngIf="currentID == 'passport'"></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.ic">
          <div class="error-message"
            *ngIf="registerForm.get('ic').hasError(error.type) && (registerForm.get('ic').dirty || registerForm.get('ic').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      <ion-button shape="round" fill="solid" size="small" (click)="switchPassport()" *ngIf="currentID == 'ic'"
        class="ion-margin-start">
        Switch to passport
      </ion-button>
      <ion-button shape="round" fill="solid" size="small" (click)="switchIC()" *ngIf="currentID == 'passport'"
        class="ion-margin-start">
        Switch to IC
      </ion-button>

      <ion-item>
        <ion-label position="floating">Age : </ion-label>
        <ion-input class="login-input" formControlName="age" type="number" inputmode="numeric" max="100" min="18">
        </ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.age">
          <div class="error-message"
            *ngIf="registerForm.get('age').hasError(error.type) && (registerForm.get('age').dirty || registerForm.get('age').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-list>
        <ion-radio-group formControlName="pregnant">
          <ion-list-header>
            <ion-label>Pregnancy Status</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Not Pregnant</ion-label>
            <ion-radio slot="start" value="no" mode="md"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Pregnant</ion-label>
            <ion-radio slot="start" value="yes" mode="md"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Not Related</ion-label>
            <ion-radio slot="start" value="not related" mode="md"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item>
        <ion-label position="floating">Phone. : </ion-label>
        <ion-input class="login-input" formControlName="phone"></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.phone">
          <div class="error-message"
            *ngIf="registerForm.get('phone').hasError(error.type) && (registerForm.get('phone').dirty || registerForm.get('phone').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Password : </ion-label>
        <ion-input class="login-input" placeholder="Enter Password" type="password" formControlName="password">
        </ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error-message"
            *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Confirm Password : </ion-label>
        <ion-input class="login-input" placeholder="Confirm Password" type="password"
          formControlName="confirm_password">
        </ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.confirm_password">
          <div class="error-message"
            *ngIf="registerForm.get('confirm_password').hasError(error.type) && (registerForm.get('confirm_password').dirty || registerForm.get('confirm_password').touched)">
            {{ error.message }}
          </div>
        </ng-container>
        <div class="error-message"
          *ngIf="!registerForm.get('confirm_password').errors && registerForm.hasError('passwordNotMatch') && (registerForm.get('confirm_password').dirty || registerForm.get('confirm_password').touched)">
          Password not matched.
        </div>
      </div>

    </ion-card>

    <ion-card class="ion-padding" mode="ios" *ngIf="isRegister">

      <ion-card-header>
        <ion-card-title>
          <ion-icon name="information-circle-outline"></ion-icon> Screening
        </ion-card-title>
        <ion-card-subtitle style="text-transform: none;">Please answer with sincere and truth</ion-card-subtitle>
      </ion-card-header>

      <ion-list-header>
        <ion-label>A. COVID-19 Risk Screening</ion-label>
      </ion-list-header>

      <ion-item class="input-toggle">
        <ion-label position="stacked">
          Have you ever been verified POSITIVE COVID-19?<br>
        </ion-label>
        <div>
          <app-toggle name="question1" [control]="registerForm.controls.question1" class="ion-float-right">
          </app-toggle>
        </div>
      </ion-item>

      <ion-item class="input-toggle">
        <ion-label position="stacked">
          Are you for the last 2 weeks in close contact with COVID-19 patient family member or a COVID-19 family member
          who is under investigation?<br>
        </ion-label>
        <div>
          <app-toggle name="question2" [control]="registerForm.controls.question2" class="ion-float-right">
          </app-toggle>
        </div>
      </ion-item>

      <ion-item class="input-toggle">
        <ion-label position="stacked">
          Are you for the last 2 weeks in close contact with the COVID-19 patient cluster or the COVID-19 patient
          cluster who is under investigation?<br>
        </ion-label>
        <div>
          <app-toggle name="question3" [control]="registerForm.controls.question3" class="ion-float-right">
          </app-toggle>
        </div>
      </ion-item>

      <ion-item class="input-toggle">
        <ion-label position="stacked">
          Are you for the last 2 weeks visiting/ returning from overseas?<br>
        </ion-label>
        <div>
          <app-toggle name="question4" [control]="registerForm.controls.question4" class="ion-float-right">
          </app-toggle>
        </div>
      </ion-item>

      <ion-item class="input-toggle">
        <ion-label position="stacked">
          Are you for the last 2 weeks visiting/ returning from EMCO state/ district/ locality (Enhanced Movement
          Control Order)?<br>
        </ion-label>
        <div>
          <app-toggle name="question5" [control]="registerForm.controls.question5" class="ion-float-right">
          </app-toggle>
        </div>
      </ion-item>

      <ion-item class="input-toggle ion-margin-bottom">
        <ion-label position="stacked">
          Have you been ordered home quarantine control by Ministry of Health Malaysia (MoH)?<br>
        </ion-label>
        <div>
          <app-toggle name="question6" [control]="registerForm.controls.question6" class="ion-float-right">
          </app-toggle>
        </div>
      </ion-item>

      <ion-list-header>
        <ion-label>B. Health Screening of Chronic Disease</ion-label>
      </ion-list-header>

      <ion-item class="input-toggle">
        <ion-label position="stacked">
          Do you have any chronic disease??<br>
        </ion-label>
        <div>
          <app-toggle name="chronic_disease" [control]="registerForm.controls.chronic_disease" class="ion-float-right">
          </app-toggle>
        </div>
      </ion-item>

      <div class="ion-padding">
        <strong>
          *List of chronic disease:
        </strong>
        <br>
        <br>
        <div style="color:#eb445a;">
          High blood pressure<br>
          Diabetes<br>
          High cholesterol<br>
          Heart disease<br>
          Asthma<br>
          Chronic obstructive pulmonary disease<br>
          Immunocompromised<br>
          Kidney disease<br>
          Liver disease<br>
          Tuberculosis<br>
          Rheumatic arthritis<br>
          Cancer<br>
          Other chronic diseases<br>
        </div>

      </div>

      <br>
      <ion-item class="input-toggle ion-margin-bottom">
        <ion-label position="stacked">
          I hereby declare that all the information given in this form is true and correct. Action can be taken if the
          information provided is false.<br>
        </ion-label>
        <div>
          <ion-list lines="none">
            <ion-item class="ion-float-right" no-lines>
              <ion-label>Accept</ion-label>
              <ion-checkbox slot="end" name="agreement" mode="md" (ionChange)="onTermsChecked($event)"></ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </ion-item>

      <ion-button class="ion-margin" expand="block" type="submit" *ngIf="registerForm.valid">Submit</ion-button>
      <ion-button color="warning" class="ion-margin" expand="block" disabled *ngIf="!registerForm.valid">
        Please fill in all fields
      </ion-button>
      <ion-button expand="block" fill="clear" (click)="loginPage()">Login</ion-button>

    </ion-card>

  </form>


</ion-content>