<ion-tabs (ionTabsDidChange)="tabChanged($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="screening">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Screening</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tracker">
      <ion-icon name="home-outline" mode="md"></ion-icon>
      <ion-label>Tracking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hotline">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Hotline</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>