<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize ion-text-center">
      <span>
        <img alt="logo" height="30" src="../assets/usm-crest.png">
      </span>
      <span class="header-title">rHAIS</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">

    <div class="ion-text-center" style="background-color: #ffffff;">
      <img style="height: 160px;" src="../assets/USMLogo.jpg" />
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="updateUser(registerForm.value)" [class.editMode]="editMode">

      <ion-card class="ion-padding-bottom" mode="ios">

        <ion-card-header>
          <ion-card-title class="ion-text-capitalize">
            <ion-icon name="person-circle-outline"></ion-icon> {{ user.type }}
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-label position="fixed">ID : </ion-label>
          <ion-input class="" type="email" [value]="user.email" readonly="true">
          </ion-input>
        </ion-item>

        <ion-item style="padding-top: 8px;">
          <ion-label position="fixed">Name : </ion-label>
          <ion-input class="login-input" formControlName="name" [readonly]="!editMode"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.name">
            <div class="error-message"
              *ngIf="registerForm.get('name').hasError(error.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="fixed">IC/Passpord : </ion-label>
          <ion-input class="login-input" formControlName="ic" [readonly]="!editMode"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.ic">
            <div class="error-message"
              *ngIf="registerForm.get('ic').hasError(error.type) && (registerForm.get('ic').dirty || registerForm.get('ic').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="fixed">Phone. : </ion-label>
          <ion-input class="login-input" formControlName="phone" [readonly]="!editMode"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.phone">
            <div class="error-message"
              *ngIf="registerForm.get('phone').hasError(error.type) && (registerForm.get('phone').dirty || registerForm.get('phone').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item *ngIf="!editMode">
          <ion-label position="stacked">School/Department : </ion-label>
          <ion-input class="login-input ion-text-capitalize" formControlName="department" readonly>
          </ion-input>
        </ion-item>
        <ion-item (click)="departmentsModal()" *ngIf="editMode">
          <ion-label position="stacked">School/Department : </ion-label>
          <ion-input class="login-input ion-text-capitalize" formControlName="department" readonly>
          </ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.department">
            <div class="error-message"
              *ngIf="registerForm.get('department').hasError(error.type) && (registerForm.get('department').dirty || registerForm.get('department').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="fixed">Age : </ion-label>
          <ion-input class="login-input" formControlName="age" type="number" inputmode="numeric" max="100" min="18"
            [readonly]="!editMode">
          </ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.age">
            <div class="error-message"
              *ngIf="registerForm.get('age').hasError(error.type) && (registerForm.get('age').dirty || registerForm.get('age').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-button color="warning" class="ion-margin" expand="block" *ngIf="!editMode" (click)="enableEditMode()">
          Edit Profile
        </ion-button>
        <ion-button color="light" class="ion-margin" expand="block" *ngIf="editMode && registerForm.valid"
          (click)="enableEditMode()">
          Cancel
        </ion-button>
        <ion-button color="light" class="ion-margin" expand="block" *ngIf="editMode && !registerForm.valid" disabled>
          Cancel
        </ion-button>
        <ion-button class="ion-margin" expand="block" type="submit" *ngIf="editMode" [disabled]="!editMode">Update
        </ion-button>

      </ion-card>

      <ion-card mode="ios">

        <ion-list-header>
          <ion-label>
            <ion-icon name="person-circle-outline"></ion-icon> Last Screening
          </ion-label>
        </ion-list-header>

        <ion-grid class="ion-padding">
          <ion-row>
            <ion-col size="5">
              Temperature :
            </ion-col>
            <ion-col size="7" *ngIf="user.temperature">
              {{ user.temperature }}°C
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              Last screening campus :
            </ion-col>
            <ion-col size="7" *ngIf="user.last_screening_campus">
              {{ user.last_screening_campus }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              Last screening date :
            </ion-col>
            <ion-col size="7" *ngIf="lastScreeningDate">
              {{ lastScreeningDate.seconds * 1000 | date:'d MMMM yyyy,  h:mm a'}}
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>

    </form>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="danger" class="ion-margin" expand="block" (click)="logout()">Logout
    </ion-button>
  </ion-toolbar>
</ion-footer>