#container {}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.map {
  width: 100%;
  height: 300px;
}

.gm-style .gm-style-iw-d {
  color: #000000;
}

.editMode .login-input {
  background-color: rgba(103, 103, 103, 0.21);
  padding-left: 10px !important;
  margin-bottom: 8px;
  border-radius: 4px;
}

.label-fixed {
  flex: 0 0 150px;
  max-width: 300px !important;
}