<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize ion-text-center">
      <span>
        <img alt="logo" height="30" src="../assets/usm-crest.png">
      </span>
      <span class="header-title">rHAIS</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hotline</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- <div id="map_canvas"></div> -->

      <strong>1. Nerve Centre</strong> <br>
      <ion-button color="light" size="small" (click)="callNow('046532267')">
        <ion-icon slot="start" name="call" color="success"></ion-icon> 04 6532267
      </ion-button>
      <ion-button color="light" size="small" (click)="callNow('046536124')">
        <ion-icon slot="start" name="call" color="success"></ion-icon> 04 6536124
      </ion-button>
      <br>
      <br>
      <strong>2. Main Campus</strong><br>
      (Monday - Sunday : 8.00am - 5.00pm)<br>

      <div style="padding: 5px;">
        a) Operational Room <br>
        <ion-button color="light" size="small" (click)="callNow('046534948')">
          <ion-icon slot="start" name="call" color="success"></ion-icon> 04 6534948
        </ion-button>
        <br>
        b) Tele-consultancy<br>
        <ion-button color="light" size="small" (click)="callNow('046534912')">
          <ion-icon slot="start" name="call" color="success"></ion-icon> 04 6534912
        </ion-button>
      </div>

      <br>

      <strong>3. Engineering Campus</strong><br>
      (Monday - Sunday : 8.00am - 5.00pm)<br>
      <div style="padding: 5px;">
        a) Tele-consultancy<br>
        Health unit (Health and Dentist)<br>
        <ion-button color="light" size="small" (click)="callNow('045995201')">
          <ion-icon slot="start" name="call" color="success"></ion-icon> 04 5995201
        </ion-button>
      </div>

      <br>

      <strong>4. IPPT</strong><br>
      (Monday - Sunday : 8.00am - 5.00pm)<br>
      <div style="padding: 5px;">
        a) Tele-consultancy<br>
        <ion-button color="light" size="small" (click)="callNow('045622819')">
          <ion-icon slot="start" name="call" color="success"></ion-icon> 04 5622819
        </ion-button>
      </div>

      <br>

      <strong>5. Health</strong><br>
      (Monday - Sunday : 8.00am - 5.00pm)<br>
      <div style="padding: 5px;">
        a) Operational Room<br>
        <ion-button color="light" size="small" (click)="callNow('097671303')">
          <ion-icon slot="start" name="call" color="success"></ion-icon> 09 7671303
        </ion-button>
        <br>
        b) Tele-consultancy<br>
        <div style="padding: 5px;">
          i) Office Hour<br>
          <ion-button color="light" size="small" (click)="callNow('097673519')">
            <ion-icon slot="start" name="call" color="success"></ion-icon> 09 7673519
          </ion-button>
          <ion-button color="light" size="small" (click)="callNow('097673520')">
            <ion-icon slot="start" name="call" color="success"></ion-icon> 09 7673520
          </ion-button>
          <br>
          ii) After Office Hour<br>
          <ion-button color="light" size="small" (click)="callNow('097673237')">
            <ion-icon slot="start" name="call" color="success"></ion-icon> 09 7673237
          </ion-button>
        </div>

      </div>

    </ion-card-content>
  </ion-card>
</ion-content>