/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-toolbar {
    --min-height: 50px !important;
}

.header-title {
    padding-left: 10px;
    vertical-align: super;
    text-transform: none;
}

.error-messages {
    color: #eb445a;
    padding: 5px 20px;
}

.input-helper {
    padding: 5px 20px;
}

.ion-invalid.ion-touched {
    .item-inner-highlight {
        height: 1px !important;
    }

    --highlight-height: 1px;
}


.btn-circle {
    --border-radius: 50px;
    height: 80px;
    width: 80px;
    font-size: 18px;
}

.input-toggle {
    ion-label {
        white-space: normal !important;
    }

    div {
        width: 100%;
        text-align: right;
    }

    .toggle-label {
        vertical-align: super;
        margin: 10px;
    }
}

.alert-danger {
    --background: #cccccc;

    .alert-message,
    .alert-title,
    .alert-button {
        color: #eb445a;
    }
}